[Desktop Entry]
Type=Application
Name={{ android_studio_desktop_name }}
Comment=Integrated development environment for Google's Android operating system
Exec="{{ install_dest_full }}/bin/studio.sh" %f
Icon={{ install_dest_full }}/bin/studio.png
Categories=Development;IDE
Terminal=false
StartupNotify=true
StartupWMClass="jetbrains-studio"
